@use "add";
@use "normalize";

body {
	@include add.gradient( rgba( add.$act-medium, 1.0 ), rgba( add.$act-medium, 1.0 ), vertical );
	@include add.flex( column, space-between );
	width: add.$vw;
	height: 100vh;
}

header {
	@include add.gradient( rgba( add.$act-dark, 1.0 ), rgba( add.$act-dark, 0.6 ), horizontal );
	@include add.flex( column );
	box-sizing: border-box;
	width: add.$vw;
}

.top {
	@include add.flex( row, space-between );
	padding: 1rem;
	box-sizing: border-box;
	width: 100%;

	& .logo {
		@include add.flex();
		gap: 0.5rem;

		font-family: add.$titan;
		@include add.font-size( 24px );
		font-weight: 600;

		& div {
			@include add.flex();
		}
	}

	& .info {
		@include add.flex();
		gap: 2rem;
	}
}

.bottom {
	@include add.flex( row, space-evenly );
	font-family: add.$sans;
	color: add.$repel-dark;
	font-weight: 800;

	box-sizing: border-box;
	width: add.$vw;
	padding: 1rem 8rem;
	gap: 1rem;

	& .info {
		@include add.flex( column, space-evenly );
		padding: 1rem;
		gap: 0.4rem;

		@include add.gradient( rgba( add.$act-darker, 1.0 ), rgba( add.$act-darker, 0.8 ), vertical );
		border-radius: 10%;
		border-bottom: 3px solid add.$act-light;
		font-family: add.$sans;

		& .num {
			@include add.font-size( 30px );
		}
	}
}

main {
	padding: 2rem;
	width: add.$vw;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 250px, 20vw ) );
}

.card {
	background-color: add.$act-lighter;
	@include add.flex();
	width: fit-content;
	padding: 0px 1rem;

	box-shadow: 0 0 10px add.$repel-dark;
	border-bottom: 4px solid add.$act-darker;
	border-radius: 10%;
}

.bar {
	height: 100%;
	padding: 5px;

	display: grid;
	grid-template-columns: repeat( 2, auto );
	grid-template-rows: repeat( 2, 1fr );

	& .buttons {
		grid-column: 1 / 3;
		@include add.flex( column, flex-end );
		padding: 2px;
		gap: 2px;

		box-sizing: border-box;
		width: fit-content;
		cursor: pointer;
	}

	& .border-left {
		border-left: 1px solid add.$repel-dark;
	}

	& .border-right {
		border-right: 1px solid add.$repel-dark;
	}
}

.content {
	@include add.flex( column );
	gap: 10px;
	padding: 10px;

	& .book {
		background-image: url("./../assets/emptybook.png");
		background-size: cover;

		padding: 1rem;
		margin: 0;
		box-sizing: border-box;
		@include add.box( 150px, 204px );
		@include add.flex( column, space-evenly );
		gap: 1rem;

		font-family: add.$sans;
		color: add.$repel-light;
		font-weight: 700;
	}
}

footer {
	@include add.gradient( rgba( add.$act-dark, 1.0 ), rgba( add.$act-dark, 0.6 ), horizontal );
	@include add.flex();
	font-family: add.$titan;

	box-sizing: border-box;
	width: add.$vw;
	padding: 1rem;

	& .rotate180 {
		transform: rotateY( 180deg );
	}
}

.img-link {
	@include add.box( 30px );

	&:hover {
		transform: scale(1.2);
	}
}