@use "add";
@use "normalize";

:root {
	--act-lighter: var( --set1-lighter );
	--act-light: var( --set1-light );
	--act-medium: var( --set1-medium );
	--act-dark: var( --set1-dark );
	--act-darker: var( --set1-darker );
	--act-darmix: var( --set1-darmix );

	--set1-lighter: #feffcc;
	--set1-light: #a2d4ab;
	--set1-medium: #3eaca8;
	--set1-dark: #547a82;
	--set1-darmix: #93b3b9;
	--set1-darker: #5a5050;

	--set2-lighter: #aba7ab;
	--set2-light: #cc527a;
	--set2-medium: #eb175d;
	--set2-dark: #474747;
	--set2-darmix: #919191;
	--set2-darker: #363636;

	--set3-lighter: #ee4540;
	--set3-light: #c72c41;
	--set3-medium: #801336;
	--set3-dark: #510a32;
	--set3-darmix: #e31f8e;
	--set3-darker: #2d142c;
}

.main {
	background-image: url(./../assets/background.webp);
	background-size: cover;
	@include add.flex( column, space-between );
	width: add.$vw;
	min-width: 380px;
	
	@media ( width: 380px ) {
		overflow-x: scroll;
	}
}

.inputbar {
	box-sizing: border-box;
	height: 100vh;
	width: 0;
	@include add.flex( row, space-evenly );

	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;

	overflow: hidden;
	transition: 0.5s;
	background-color: var( --act-medium );
	border-radius: 5rem 0rem 0rem 5rem;

	& .i-body {
		box-sizing: border-box;
		width: 100%;
	
		@include add.flex( column );
		padding: 1rem;
		gap: 1rem;
	
		border: 0.25rem solid add.$repel-dark;
		border-radius: 1rem;
		font-family: add.$titan;
	
		& legend {
			@include add.font-size( 16px );
			font-weight: 400;
		}
	}
}

.i-form {
	@include add.flex( column );

	& .wrap, .check {
		position: relative;
		margin: 0.45rem 0rem;
		font-family: add.$sans;

		& label {
			position: absolute;
			top: 0;
			margin: 0.25rem;
			padding: 0.25rem;

			font-size: 1rem;
			background-color: var( --act-medium );
			transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;

			&.active {
				top: -1rem;
				font-size: 0.8rem;
			}
		}

		& input {
			padding: 0.5rem;

			border: 2px solid add.$repel-light;
			border-radius: 0.5rem;
			font-size: 1rem;
			background-color: var( --act-medium );
			color: add.$repel-light;

			&:focus {
				outline: none;
			}
		}

		& p {
			display: none;
			margin: 3px 0px 0px 0px;

			font-family: add.$sans;
			font-size: 0.75rem;
			color: rgba( add.$repel-dark, 0.8 );
		}
	}
}

.button-box {
	@include add.flex();
	gap: 1rem;

	& .button {
		padding: 0.8rem;
		border-radius: 0.4rem;
		border: none;
		cursor: pointer;
		transition: transform ease-in-out 0.4s, box-shadow ease-in-out 0.4s;

		&:hover {
			transform: scale(1.1);
			box-shadow: 0 0 5px add.$repel-dark
		}

		&.add {
			background-color: #f00;
		}

		&.cancel {
			background-color: #444;
		}

		&.reset {
			background-color: #44f;
		}
	}
}

header {
	@include add.gradient( var( --act-dark ), var( --act-darmix ), horizontal );
	@include add.flex( column );
	box-sizing: border-box;
	width: add.$vw;
	border-bottom: 0.25rem solid add.$repel-dark;
}

.top {
	@include add.flex( row, space-between );
	padding: 1rem;
	box-sizing: border-box;
	width: 100%;

	& .logo {
		@include add.flex();
		gap: 0.5rem;
		margin-right: 1rem;

		font-family: add.$titan;
		@include add.font-size( 24px );
		font-weight: 600;

		transition: letter-spacing ease-in-out 1s;

		&:hover {
			letter-spacing: 0.5rem;
		}

		& div {
			@include add.flex();
		}
	}

	& .info {
		@include add.flex();
		gap: 2rem;
	}
}

#image {
	position: relative;
	display: inline-block;

	&:hover ul {
		display: block;
	}

	& span {
		position: relative;
	}

	& ul {
		display: none;
		z-index: 1;
		position: absolute;

		padding: 0;
		margin: 0;
		right: 0;

		& li {
			display: block;
			padding: 0.75rem 1rem;
			opacity: 0;

			background-color: var( --act-lighter );
			color: add.$repel-dark;
			font-family: add.$titan;
			white-space: nowrap;

			&:hover {
				background-color: var( --act-light );
			}

			&.active {
				background-color: var( --act-medium );
			}
		}

		@for $i from 1 to 4 {
			.drop-item-#{$i} {
				animation: scale 0.3s ease-in-out calc( #{$i} * 0.1s ) forwards;
				transform-origin: top center;
			}
		}

		@keyframes scale {

			0% {
				opacity: 0;
				transform: scale(0);
			}
			80% {
				transform: scale(1.1);
			}
			100% {
				opacity: 1;
				transform: scale(1);
			}

		}
	}
}

.bottom {
	display: grid;
	grid-template-columns: repeat( 6, 1fr );
	font-family: add.$sans;
	color: add.$repel-dark;
	font-weight: 500;

	box-sizing: border-box;
	width: add.$vw;
	padding: 1rem 5vw;
	gap: 4vw;

	@media ( max-width: 700px ) {
		grid-template-columns: repeat( 3, 1fr );
	}

	& .info {
		@include add.flex( column, space-evenly );
		padding: 1rem;
		gap: 0.4rem;
		@include add.font-size( 15px );

		background-color: var( --act-darker );
		border-radius: 10%;
		border-bottom: 3px solid var( --act-light );
		font-family: add.$sans;
		text-align: center;

		& .num {
			@include add.font-size( 30px );
		}
	}
}

main {
	box-sizing: border-box;
	padding: 4rem;
	width: add.$vw;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(240px, 20vw) );
	gap: 3rem;
}

.card {
	background-color: var( --act-lighter );
	@include add.flex();
	width: fit-content;
	padding: 0px 1rem;

	box-shadow: 0 0 20px 10px add.$repel-dark;
	border-bottom: 5px solid var( --act-darker );
	border-radius: 10%;
}

.bar {
	height: 100%;
	padding: 5px;

	display: grid;
	grid-template-columns: repeat( 2, auto );
	grid-template-rows: repeat( 2, 1fr );

	& .buttons {
		grid-column: 1 / 3;
		@include add.flex( column, flex-end );
		padding: 2px;
		gap: 2px;

		box-sizing: border-box;
		width: fit-content;
		cursor: pointer;
	}

	& .border-left {
		border-left: 1px solid add.$repel-dark;
	}

	& .border-right {
		border-right: 1px solid add.$repel-dark;
	}
}

.edit, .remove {
	transition: transform ease-in-out 0.3s;

	&:hover {
		transform: scale(1.2);
	}
}

.add-card {
	width: calc( 100% - 2rem );
	cursor: pointer;

	& .add-btn {
		@include add.font-size( 32px );
		transition: transform ease-in-out 0.7s;

		&.hover {
			transform: rotate(180deg) scale(1.5);
		}
	}
}

.content {
	@include add.flex( column );
	gap: 10px;
	padding: 10px;

	& .book {
		background-image: url("./../assets/emptybook.png");
		background-size: cover;

		padding: 1rem;
		margin: 0;
		box-sizing: border-box;
		@include add.box( 150px, 204px );
		@include add.flex( column, space-evenly );
		gap: 1rem;

		font-family: add.$sans;
		color: add.$repel-light;
		font-weight: 700;
	}

	& .paging {
		font-family: add.$titan;
	}

	& button {
		@include add.flex();
		box-sizing: border-box;
		position: relative;
	
		padding: .5rem 0rem;
		border: 0 solid add.$repel-light;
		min-width: 100px;
		max-width: 150px;
		line-height: 1rem;
	
		background-color: var( --act-dark );
		color: add.$repel-dark;
		font-family: add.$titan;
		text-decoration: none;
		cursor: pointer;
	
		transform: rotate(-2deg);
		user-select: none;
	}
	
	& button:focus {
		outline: 0;
	}

	& button::after {
		content: '';
		position: absolute;
		border: 1px solid add.$repel-dark;
		bottom: 4px;
		left: 4px;
		width: calc(100% - 1px);
		height: calc(100% - 1px);
	}

	& button:hover::after {
		bottom: 2px;
		left: 2px;
	}
}

footer {
	@include add.gradient( var( --act-dark ),  var( --act-darmix ), horizontal );
	@include add.flex();
	font-family: add.$titan;
	border-top: 0.25rem solid add.$repel-dark;

	box-sizing: border-box;
	width: add.$vw;
	padding: 1rem;

	& .rotate180 {
		transform: rotateY( 180deg );
	}
}

.img-link {
	@include add.box( 30px );

	&:hover {
		transform: scale(1.2);
	}
}

.red {
	color: #f00;
}